.navbar-lewagon {
  justify-content: space-between;
  background: $netflix-dark-grey;
  border-bottom: $netflix-grey 1px solid;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

// Hover bleusur les liens de la navbar
.navbar-lewagon .nav-link {
  transition: color 0.2s ease;
  color: $netflix-red;
  font-weight: 200px;
  margin-right: 20px;

  &:hover {
    color: $netflix-dark-red !important;
  }
}
