// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

.form-container {
  max-width: 500px;   /* limits form width */
  margin: 50px auto;  /* centers horizontally and adds vertical spacing */
  padding: 30px;
  background-color: #f3efef;  /* light background */
  border-radius: 10px;        /* rounded corners */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* subtle shadow */
}

.form-container .btn {
  display: block;
  width: 100%;  /* full width button */
}

body {
  font-family: Helvetica, sans-serif;
  background-color: #9b9797;
}

h1, h2, h3, h4, h5 {
  font-family: Helvetica, sans-serif;
  font-weight: 500;
}

.return_to {
background: white
}
